# MONGO_URI=mongodb+srv://buffanime:FpN2tXcUHjDnhQuD@cluster0.avxasln.mongodb.net/beautyStoreDB
MONGO_URI=mongodb://localhost:27017/
CORS_ALLOWED_ORIGIN=http://localhost:5173
JWT_SECRET=test_project
JWT_EXPIRE=6400000000
CLOUDINARY_CLOUD_NAME=dgkomzqbd
CLOUDINARY_API_KEY=671718345846271
CLOUDINARY_API_SECRET=kqGBEPTiegOivgMEZ-hO4vvEAzI

# eSewa Configuration
ESEWA_MERCHANT_ID=EPAYTEST
ESEWA_SECRET=8gBm/:&EnhH.1/q
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_PAYMENT_STATUS_CHECK_URL=https://rc.esewa.com.np/api/epay/transaction/status/

# Frontend URLs
SUCCESS_URL=http://localhost:5173/payment-success
FAILURE_URL=http://localhost:5173/payment-failure